template(name='currentUserInfo')
	if Template.subscriptionsReady
		if currentUser
			a(href='{{pathFor route="userDetails" id=userId}}') #{userUsername}
			span &nbsp;|&nbsp;
			a(href='') 
				| Tokens
				span(class='badge') #{userTokens}
			a(href='{{pathFor route="notifications"}}') 
				| Notifications
				span(class='badge') #{notificationCount}
