template(name='landing')
	div(class='container-fluid')
		div(class='row')
			div(class='col-md-6 col-md-offset-3 text-center')
				h1 Welcome to CryptoPool
					h2 Where you can make pools using cryptocurrencies
					h3 Login to continue
