template(name='lastMatches')
	h3(class='text-center') Last matches
	if matches.count
		table(class='table table-bordered')
			thead
				tr
					th Competition Id
					th Time
					th Local
					th Local score
					th Visitant score
					th Visitant
					th
			tbody
				each matches
					+match(match=this showDate=true showScore=true showReferee=false)
	else
		p There are no last matches
