template(name='myProfile')
	h3(class='text-center') My profile
	h2 User info
	table(class='table table-bordered')
		thead
			tr
				td Username 
				td Email 
				td Tokens
		tbody
			tr
				td #{username}
				td #{email}
				td #{tokens}
