template(name='newPool')
	div(class='modal fade')
		div(class='modal-dialog')
			form(class='new-pool form-inline' role='form')
				div(class='modal-content')
					div(class='modal-header')
						h4(class='modal-title') Create a new pool
					div(class='modal-body')
						div(class='container-fluid')
							div(class='row')
								div(class='col-md-6')
									label Amount
								div(class='col-md-6')
									input(type="number" name="amount" class='form-control')
							div(class='row')
								div(class='col-md-6')
									label This pool is private
								div(class='col-md-6')
									input(type="checkbox" name="private" class='form-control')
					div(class='modal-footer')
						button(class='btn btn-primary' type='submit' value='Create')
							i(class='fa fa-plus') Create
