template(name='nextMatches')
	h3(class='text-center') Upcoming matches
	if matches.count
		table(class='table table-bordered')
			thead
				tr
					th Competition
					th Time
					th Local
					th Visitant
					th
			tbody
				each matches
					+match(match=this showDate=true showScore=false showReferee=false)
	else
		p There are no upcoming matches
