template(name='notification')
	li 
		span #{content}
		if alreadySeen
			button(type='button' class="btn btn-primary toggleSeen" data-notificationId="#{notificationId}")
				i(class="fa fa-eye-slash")
				| Marcar como no visto
		else 
			button(type='button' class="btn btn-primary toggleSeen" data-notificationId="#{notificationId}")
				i(class="fa fa-eye")
				| Marcar como visto
