template(name='poolList')
	div(class='col-md-8 col-md-offset-2')
		div(class='row')
			h3 Pools for this match
		div(class='row')
			h4(class='text-center') Status: #{displayStatus}
		div(class='row')
			table(class='table table-bordered')
				thead
					tr
						th Amount
						th StatusId
						th Bet count
						th Private
						th Multiscore
						th Multibet
						th Closest guess
						th
				tbody
					each pools 
						+pool
