template(name='userList')
	div(class='col-md-8 col-md-offset-2')
		table(class='table table-bordered')
			thead
				tr
					th username
					th local score 
					th visitant score 
					th distance
					th winner
			tbody
				each users
					+user
