template(name='userDetails')
	div(class='container-fluid')
		div(class='row')
			h1 #{this.username}
			if hasTokens
				h2 Tokens: #{this.tokens}
			if hasEmails
				h2 Email: #{email}
			if canBeContacted
				a(href='{{pathFor route="conversation" id=_id}}') Send a private message to this user
