<template name="calendar">
	<div class="container-fluid">
		<div class="row-fluid">
			<div class="col-md-8 col-md-offset-2">
				<h1>Results for {{searchDate}}</h1>
			</div>
		</div>
		<div class="row-fluid">
			<div class="col-md-7"></div>
			<div class="col-md-3">
				<div class="form-group">
					<div class='input-group date' id='datetimepicker'>
						<input type='text' class="form-control" />
						<span
						 class="input-group-addon">
							<span class="glyphicon glyphicon-calendar"></span>
						</span>
					</div>
				</div>
			</div>
			<div class="col-md-3"></div>
		</div>
		<div class="row-fluid">
			{{> resultsBoard matches=matches}}
		</div>
	</div>
</template>
