template(name='confirmJoin')
	div(class='modal fade')
		div(class='modal-dialog')
			div(class='modal-content')
				div(class='modal-header')
					h4(class='modal-title') Participate in the pool
				div(class='modal-body')
					span You are about to participate in this pool, are you sure?
				div(class='modal-footer')
					button(type='button' class='btn btn-default' data-dismiss='modal') Cancel
					button(type='button' class='btn btn-success confirm' data-dismiss='modal') Participate
