template(name='home')
	div(class='container-fluid')
		div(class='row')
			div(class='col-md-6 col-md-offset-3 text-center')
				h1 Welcome to CryptoPorra
					h2 Where you can make Porras using cryptocurrencies
		div(class='row')
			div(class='col-md-8 col-md-offset-2')
					+nextMatches
		div(class='row')
			div(class='col-md-8 col-md-offset-2 text-center')
				a(href='{{pathFor route="calendar"}}') Go to the calendar
