template(name='home')
	div(class='container-fluid')
		div(class='row')
			h2 Dashboard
		div(class='row')
			div(class='col-md-6')
					lastPools
			div(class='col-md-6')
					nextPools
		div(class='row')
			div(class='col-md-6')
					+lastMatches
			div(class='col-md-6')
					+nextMatches
