template(name='lastPools')
	h3(class='text-center') Last pools
	if pools.count
		table(class='table table-bordered')
			thead
				tr
					td poolId
					td matchId
			tbody
				each pools
					+poolHistoryEntry(pool=this)
	else
		p You have not participated in any pool recently
