template(name='matchDetails')
	div(class='container-fluid')
		div(class='row')
			h3(class='text-center') #{prettyDateTime}
		div(class='row')
			div(class='col-md-3 col-md-offset-1')
				+team(side='local')
			div(class='col-md-3')
				h1(class='text-center') VS
			div(class='col-md-3')
				+team(side='visitant')
		div(class='row')
			h4(class='text-center') #{arbitro}
		div(class='row')
			+poolList(pools=pools matchId=id)
