template(name='newPool')
	div(class='container-fluid')
		div(class='row')
			div(class='col-md-6 col-md-offset-3 text-center')
				h1 Create a new pool
		div(class='row')
			div(class='col-md-6 col-md-offset-3 text-center')
				div(class="form-group")
					label Amount
					input(type="number")
				button(class='btn btn-primary' type='submit' value='Create')
					i(class='fa fa-plus') Create
