template(name='poolList')
	div(class='col-md-8 col-md-offset-2')
		div(class='row')
			h3 Public pools
		div(class='row')
			h4(class='text-center') Status: #{displayStatus}
		div(class='row')
			table(class='table table-bordered')
				thead
					tr
						th Id
						th Match Id
						th Amount
						th StatusId
						th Participants
						th
				tbody
					each pools 
						+pool
