template(name='tweetList')
	div(class='col-md-4 col-md-offset-1')
		div(class='row')
			h3 The match on Twitter
		div(class='row')
			table(class='table table-striped')
				thead
					tr
						th 
						th 
				tbody
					each tweets
						+tweet
					tr
						td
						td(align="right")
							a(href='https://twitter.com')
								| Read more...
