template(name='userList')
	div(class='col-md-8 col-md-offset-2')
		table(class='table table-bordered')
			thead
				tr
					td userId
					td localScore 
					td visitantScore 
			tbody
				each users
					+user
